/* Stile generale */
body {
    background-color: #f3f3f3; /* Sfondo chiaro */
    color: #9b422d; /* Testo scuro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    position: relative; /* Supporta il posizionamento assoluto */
}

/* Container principale */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f3f3; /* Sfondo bianco */
}

/* Titolo principale */
.container h1 {
    text-align: center;
    color: #9b422d; /* Testo scuro */
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Card */
.card {
    background-color: #9b422d; /* Verde acqua */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; /* Spazio tra le card */
    transition: all 0.3s ease;
}

.card h2 {
    color: #f3f3f3; /* Testo chiaro */
    margin-top: 0;
}

.card:hover {
    background: linear-gradient(145deg, #7ac7be, #7ac7be);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.card p {
    font-size: 16px;
    color: #f3f3f3; /* Testo chiaro */
    line-height: 1.5;
    margin: 10px 0;
}

/* Form e input */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    color: #f3f3f3; /* Testo scuro */
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #de9b59; /* Bordo sabbia */
    border-radius: 5px;
    background-color: #ffffff; /* Sfondo bianco */
    color: #000000; /* Testo scuro */
    box-sizing: border-box;
}

input::placeholder, textarea::placeholder {
    color: #c9755d; /* Placeholder sabbia */
}

input:focus, textarea:focus {
    border-color: #00897b; /* Verde acqua */
    outline: none;
}

/* Bottoni */
.button {
    background-color: #00897b; /* Verde acqua */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #c9755d; /* Verde più scuro */
    transform: translateY(-2px);
}

/* Contenitore dei bottoni nella card */
.card-button-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

/* Bottone "Vai alle Statistiche" in alto a destra */
.stats-button-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.stats-button-container .button {
    background-color: #c9302c; /* Rosso mattone */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.stats-button-container .button:hover {
    background-color: #9b422d; /* Rosso più scuro */
    transform: translateY(-2px);
}